<form action="/cart" method="POST">
    <a href="/products/<%= product.id %>" class="btn">Details</a>
    <button class="btn" type="submit">Add to Card</button>
    <input type="hidden" name="productId" value="<%= product.id %>" />
</form>