tr {
    border: 2px solid black;
}

.tkp-main {
    margin: 10px;
}

.list-button {
    margin: 10px;
}

.card {
    margin: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.btn {
    margin: 20px;
}